# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
~$*.docx
/*/node_modules
/server.core/node_modules

# ide
.idea/
.editorconfig
/*/yarn.lock
/*/package-lock.json

# production
/server.core/dist
/server.core/customPages
vmetra-core.tar.gz

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
MetersController/MetersController.sln.DotSettings.user
Dockerfile.local
